header.inner {
  padding-bottom: 0px !important;
}

div#main_content_wrap {
  border-top: 0;
}
section#main_content {
  padding-top: 1.5em !important;
}

nav#main_nav {
  margin-top: 1em;
  border: 0px;
}
nav#main_nav a {
  display: inline-block;
  padding: 0.5em 1.2em;
  font-weight: bold;
  color: #dadee8;
}
nav#main_nav a:hover {
  color: white;
}
nav#main_nav a.active {
  color: white;
  border-bottom: solid 2px #f2f2f2;
}

div#project_nav_wrap {
  background: linear-gradient(to bottom, #333333 0%, #696969 100%);
}
div#project_nav_inner {
  padding: 0;
}
nav#project_nav {
  padding: 0 2em;
}
nav#project_nav a {
  display: inline-block;
  padding: 0.5em 1.2em;
  font-weight: bold;
  color: #dadee8;
}
nav#project_nav a:hover {
  color: white;
}
nav#project_nav a.active {
  color: white;
  border-bottom: solid 2px #f2f2f2;
}

ul li {
  list-style: disc outside none;
  margin-left: 2em;
  padding-left: 0.2em;
}
