header.inner {
  padding-bottom: 0px !important;
}

div#main_content_wrap {
  border-top: 0;
}

nav {
  margin-top: 1em;
  border: 0px;
}
nav a {
  display: inline-block;
  padding: 0.5em 1.2em;
  font-weight: bold;
  color: #dadee8;
}
nav a:hover {
  color: white;
}
nav a.active {
  color: white;
  border-bottom: solid 2px #f2f2f2;
}

ul li {
  list-style: disc outside none;
  margin-left: 2em;
  padding-left: 0.2em;
}
