<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Cangjians.github.io : Website for the Cangjians team" />

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/cangjians.css">

    <title>{{ page.title }}</title>
  </head>

  <body>

{% include header.html %}

    {% if page.project %}
      {% include header_project.html %}
    {% endif %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  <script type="application/javascript">
      /* "Animate" the image on the home page */
      var home_image = document.getElementById("cangjie_home");
      home_image.onmouseover = function() {
        this.src = "/images/cangjie-with-codes.png";
      }.bind(home_image);
      home_image.onmouseout = function() {
        this.src = "/images/cangjie-without-codes.png";
      }.bind(home_image);
  </script>

  </body>
</html>
